@media only screen and (min-width: 250px)
 {
 /*   header, nav, main, .footer {
        max-width:768px;
        font-family:'Montserrat', sans-serif;
        background-color: brown;

    }
*/
  
    .primaryNav{
        display: flex;
        flex-direction: column;
    }
    
    .primaryNav li:first-child{
        display: block;
    }

    .primaryNav li{
        display: none;
    }

    .menu{
        align-items: center;
    }

    .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;;
    }

    .nav-menu.active{
        left: 0;
    }

    .shoping-cart{
       text-align: end;
    }
    main{
        display: flex;
        flex-direction: column;
    }

 }