@media (max-width: 900px) {



.wrapper {
    grid-template-columns: repeat(2, 1fr );
    grid-template-areas: 
    'card1 card2 '
    'card1 card2 '
    'card1 card2 '
    'card1 card2 '
    'card3 card3'
    'card3 card3'
    'card3 card3'
    'card3 card3';
}
.wrapper {
    align-items: center;
}
.image-card img {
    width: auto;
    height: 500px;
    object-fit: cover;
}

body {
    background-color: rgb(155, 254, 198);
}

}