
@media screen and (min-width:450px){
   
    .primaryNav{
        display: flex;
        flex-direction: column;
        
    }

    .primaryNav li:first-child{
        display: block;
      }
      
      .primaryNav li{
        display: none;
      }

      .content1 .main-title {
        font-family: fontello; 
         font-weight: 600;
         font-size: .5rem;
         text-align: center;
       }

       #today-is {
        font-size: small;
       }

       #social-logos{
        font-size: .5rem;
        
       }

       main {
       
        display: grid;
        grid-template-areas:
    "content3    content3    content3"
    "event       event       event"
    "content5    content5    content5"
    "new-release new-release new-release"
    "content4 content4 content4"
    "content7     content7   content7";
      }
    
     .showcase3 {
        grid-area: content3;
        background: url(../images/) center center;
        height: 70%;
        background-size: cover;
        background-position: center;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        box-shadow: var(--shadow); 
        overflow: hidden;
        
    }
    
    
    
    .showcase3 h1 {
        font-size: 2.8rem;
        margin-bottom: 0;
        color: white;
        background-color: limegreen;
        text-shadow: 2px 2px #474242
        
        
    }
    
    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "sub-title"
      "personal-info"
      "address"
      "membership-level"
      "type-of-payment";
    }
    

       
}