@media screen and (min-width:1200px){
   
    .primaryNav{
        display: flex;
        flex-direction: row;
    }

    .primaryNav li:first-child {
        display: none;
    }

    .primaryNav li{
        display: block;
        flex: 1 1 100%;
    }
    .content1 .main-title {
        font-family: fontello; 
         font-weight: 600;
         font-size: 1rem;
         text-align: center;
       }
}