/* 05-28-2023 */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
:root {
 
  --primary-color: #f16d01  ;
  --secondary-color: #99C24D ;
  --accent1-color: #048BA8;
  --accent2-color: #2F2D2E;

   --heading-font:'Roboto condensed', sans-serif;
  --font-family: 'Roboto Condensed', sans-serif;
  --paragraph-font: 'Roboto condenced', sans-serif;

 
  --headline-color-on-white: #2e4057;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #f16d01; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color) ;
  --nav-link-color: var(--accent2);
  --nav-background-color:var(--accent1-color);
  --nav-hover-link-color: #048ba8;
  --nav-hover-background-color: #2f2d2e;
}

* {
  background-color: rgb(253, 158, 50);
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  display: flex;
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color); 
  background-color: var(--primary-color);
  font-size: 1.25em;
  flex-direction: row;
  justify-content: space-between;
  font-style: italic;
  border-radius: 5px;
  box-shadow: 0 0 30px #333;


}

header > h1 {
  color: #2F2D2E;
  border-radius: 5px;
  font-size: 1.7em;
}

header > h2 {
  color: var(--headline-color-on-color);
  font-family: 'Anton', sans-serif;
}

main h1 {
  font-family:'Anton', sans-serif;
  font-size: 1.5rem;
  color: #2e4057;
  
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
  color: #2e4057;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
  color: azure;
}


p.colored {
  background-color: var(--paragraph-background-color);

  color: var(--paragraph-color-on-color);

}

nav {
 /* background-color: var(--nav-background-color); */
  background-color: #2F2D2E;
  text-align: center;
  line-height: 3em;
  font-size: 1.2em;
  box-shadow: 0 0 30px #333;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

nav div {
  flex: 1 1 auto;
}
/*
nav  {
  list-style-type: none;
  display: flex;
  
}
*/

nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}

nav a:link, nav a:visited {
  /*color of the text*/
  color: var(--accent2-color);
}

nav a:hover {
 
  color:white;
  background-color: var(--accent2-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}