/** May-17-23
/** variables globales */
:root {
    --primary:#ddd;
    --dark:#048;
    --light:#99c24d;
    --fondo:#f67c03;
    --shadow: 3px 3px 9px rgba(44, 25, 25, 0.9);
}
html {
    background-color: var(--primary);

}
.header {
    display: grid;
    grid-template-columns: 1fr .75fr 1.25fr 1fr;
    grid-template-rows: repeat(1, 200px);
    grid-template-areas: 
      '. img name .'
    
}

.header {
    background-color: #048;
    border-radius: 15px;
    box-shadow: var(--shadow);
    align-items: center;
} 
.header > img {
    grid-area: img;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);;
    width: 100px;
    max-width: 100px;
    padding: 10px 10px 10px 10px; 

}

.header .name {
    grid-area: name;
    text-align: center;
    background-color: var(--dark); 
    color:var(--primary);

}

.name > h1 {
    font-size: 1.5rem ;
}
.main {
    position: inherit;
    padding-top: 20px;
    display: grid;
    max-width: 960px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1fr .5fr 3fr .5fr);
    grid-template-areas: 
        '. title-c title-c .'
        '. lessons lessons .'
        '. foot    foot    .';
}

.title-c {
    grid-area: title-c;
}

.lessons {
    grid-area: lessons;
    background-color: var(--primary);
}


.title-c {
    background-color: var(--primary);
    text-align: left;
    font-size: 1rem;
    color: var(--dark);
    text-shadow: var(--shadow);
    padding-left: 15px ;
  
    
}


.foot {
    grid-area: foot;
    background-color: var(--dark);
    color: var(--primary);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: var(--shadow);
       
}
